:root{
    --base: #c194b6;
    --baseDark: #9a7692;
    --black: #151616;
    --white: #ece9f0;
    --green: #95c7a5;
    --red: #be6666;
    --border: 3vh;
}

@keyframes tickMove {
    0%{}
    100%{
        stroke-dashoffset: 0vh;
    }
    
}